   <!-- header -->
<nav class="navbar is-black">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/newlogo.PNG" alt="BuyInBudget">
      </a>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          BuyInBudget Now!
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-dark is-focused" href="">
                <span>
                  Login
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- body -->
  <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Change Password</h1>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">New Password</label>
                <input type="password" name="password" class="input" autocomplete="off" required> 
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <input type="password" name="cpassword" class="input" autocomplete="off" required>
            </div>
            <br>
            <p class="control">
                <button class="button is-primary">
                  Save
                </button>
            </p>
        </form>
    </div>
  </section>


  <!-- footer -->
   <footer class="footer">
    <div class="container content has-text-centered">
      <p>Made with 🖤 by B.L.N.P. from LTI </p>
    </div>
  </footer>
