<!-- header -->
<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/newlogo.PNG" alt="BuyInBudget">
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        BuyInBudget Now!
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-dark is-focused" target="_blank">
              <span>
                Register
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-dark is-focused" routerlink="['/login']">
              <span>Login</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- body -->
<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="box">
        <div class="">
          <img src="assets/img/appleMacBook.PNG" alt="2020 Apple MacBook Air Laptop" style="width:60%">
          <p style="color:black; font-weight: bold;">2020 Apple MacBook Air Laptop</p>
          <p style="color:red; font-weight: bold;">Price: ₹109490</p>
          <p>Apple's thinnest, lightest notebook, completely transformed by the Apple M1 chip.</p>
          <br>
          <button class="button is-primary">BUY NOW!</button>
          <br><br>

          <p>By registering up, you agree for Registration Charges and EMI Card</p>
          <p>Registration Charges: Gold - ₹101 | Titanium - ₹301 </p>
          <label class="checkbox">
            <input type="checkbox" checked>
            I agree to the <a href="">terms and conditions</a>
          </label>
          
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="footer">
    <div class="container content has-text-centered">
      <p>Made with 🖤 by B.L.N.P. from LTI </p>
    </div>
  </footer>
